<h1>Showing <%= @user.username %>'s Invitations!</h1>

            <table> 
                <tr>
                    <th>Attended events</th>
                </tr>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Event's Creator</th>
                </tr>
                <%@user.show_invitations.each do |event|%>
                    <%if event.date < Time.now%>
                        <tr>
                            <td><%= event.title%></td>
                            <td><%= event.date.to_date%></td>
                            <td><%= event.location%></td>
                            <td><%= event.creator.user.username%></td>
                            <td><%= link_to "See more", event_path(event)%>
                        </tr>
                    <%end%>
                <%end%>
            </table>

            <table>
                <tr>
                    <th>Upcoming events</th>
                </tr>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Event's Creator</th>
                </tr>
                <%@user.show_invitations.each do |event|%>
                    <%if event.date >= Time.now%>
                        <tr>
                            <td><%= event.title%></td>
                            <td><%= event.date.to_date%></td>
                            <td><%= event.location%></td>
                            <td><%= event.creator.user.username%></td>
                            <td><%= link_to "See more", event_path(event)%>
                        </tr>
                    <%end%>
                <%end%>
            </table>

<%=link_to "Back", :back%>
<%=link_to "Home", root_path%>


